<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Darth Vader</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/ConverterStyles.css">
</head>
<body>
    <header th:insert="blocks/header"></header>
    <div class="vader">
        <p> __________________________________ </p>
        <p>|:::::::::::::::::::::::::::::::::|</p>
        <p>|:::::::::::'~||~~~``:::::::::::::|</p>
        <p>|::::::::'   .':     o`:::::::::::|</p>
        <p>|:::::::' oo | |o  o    ::::::::::|</p>
        <p>|::::::: 8  .'.'    8 o  :::::::::|</p>
        <p>|::::::: 8  | |     8    :::::::::|</p>
        <p>|::::::: _._| |_,...8    :::::::::|</p>
        <p>|::::::'~--.   .--. `.   '::::::::|</p>
        <p>|:::::'     =8     ~  \ o ::::::::|</p>
        <p>|::::'       8._ 88.   \ :::::::::|</p>
        <p>|:::'   __. ,.ooo~~.    \ o`::::::|</p>
        <p>|:::   . -. 88`78o/:     \  `:::::|</p>
        <p>|::'     /. o o \ ::      \88`::::|</p>
        <p>|:;     o|| 8 8 |d.        `8 `:::|</p>
        <p>|:.       - ^ ^ -'           `-`::|</p>
        <p>|::.                          .:::|</p>
        <p>|:::::.....           ::'     ``::|</p>
        <p>|::::::::-'`-        88          `|</p>
        <p>|:::::-'.          -       ::     |</p>
        <p>|:-~. . .                   :     |</p>
        <p>| .. .   ..:   o:8      88o       |</p>
        <p>|. .     :::   8:P     d888. . .  |</p>
        <p>|.   .   :88   88      888'  . .  |</p>
        <p>|   o8  d88P . 88   ' d88P   ..   |</p>
        <p>|  88P  888   d8P   ' 888         |</p>
        <p>|   8  d88P.'d:8  .- dP~ o8       |</p>
        <p>|      888   888    d~ o888     88|</p>
        <p>|_________________________________|</p>
    </div>

    <footer th:insert="blocks/footer" class="footer"></footer>
</body>
</html>